.first {
  height: 100%;
  background-color: white;
  background-image: radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 100px, #000000 90px, #ffffff 100px), radial-gradient(ellipse at 50% 55%, rgba(0, 0, 0, 0) 90px, #000000 100px, #ffffff 100px), radial-gradient(circle, #3d3d3d 20px, #808080 20px, #ffffff 40px, rgba(0, 0, 0, 0) 0%), radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 90px, #000000 100px), radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 99px, #000000 100px);
  background-size: 500px 250px, 500px 250px, 100px 100px, 100px 100px, 500px 250px;
  background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  animation: 5s distress infinite linear;
}

.second {
  height: 100%;
  background-color: white;
  background-image: radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 100px, #000000 90px, #ffffff 100px), radial-gradient(ellipse at 50% 55%, rgba(0, 0, 0, 0) 90px, #000000 100px, #ffffff 100px), radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 99px, #000000 100px), radial-gradient(circle, #3d3d3d 20px, #808080 20px, #ffffff 40px, rgba(0, 0, 0, 0) 0%), radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 90px, #000000 100px);
  background-size: 500px 250px, 500px 250px, 100px 100px, 100px 100px, 500px 250px;
  background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  animation: 5s distress infinite linear;
}

.third {
  height: 100%;
  background-color: white;
  background-image: radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 100px, #ffffff 100px), radial-gradient(ellipse at 50% 55%, rgba(0, 0, 0, 0) 85px, #000000 90px, #ffffff 100px), radial-gradient(ellipse at 50% 45%, rgba(0, 0, 0, 0) 99px, #000000 10px, #ffffff 100px), radial-gradient(circle, #3d3d3d 18px, #808080 20px, #ffffff 34px, #000000 38px, rgba(0, 0, 0, 0) 0%), radial-gradient(#ffffff 150px, rgba(0, 0, 0, 0));
  background-size: 500px 250px, 500px 250px, 500px 250px, 150px 150px, 500px 250px;
  background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  animation: 7s distress infinite linear;
}
