body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  font-weight: bold;
}
p {
  line-height: 1.5;
  word-break: break-word;
}
.eye-link h3 {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.eye-link:hover h3,
.eye-link:active h3  {
  opacity: 1;
}
.eye-link h3:hover,
.eye-link h3:active {
  opacity: 1;
}
@media (max-width: 480px) {
  .eye-link h3 {
    opacity: 1;
  }
}
















@font-face {
  font-family: 'Athletics-Bold';
  src: local('Athletics-Bold'), url(./fonts/Athletics-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Athletics-Regular';
  src: local('Athletics-Regular'), url(./fonts/Athletics-Regular.otf) format('opentype');
}
