body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  font-weight: bold;
}
p {
  line-height: 1.5;
  word-break: break-word;
}
.eye-link h3 {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.eye-link:hover h3,
.eye-link:active h3  {
  opacity: 1;
}
.eye-link h3:hover,
.eye-link h3:active {
  opacity: 1;
}
@media (max-width: 480px) {
  .eye-link h3 {
    opacity: 1;
  }
}


/* Button resets */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
/* Demo */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
button:active {
  background-color: transparent;
  display: inline-block;
  border: none;
  border: none;
  border-radius: 0;
  height: auto;
  min-height: 100%;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0;
  width: 14em;
  overflow: hidden;
}
button:focus {
  outline: 0;
  margin: 0;
}













@font-face {
  font-family: 'Athletics-Bold';
  src: local('Athletics-Bold'), url(./fonts/Athletics-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Athletics-Regular';
  src: local('Athletics-Regular'), url(./fonts/Athletics-Regular.otf) format('opentype');
}
