/*
UMBN Brand Colors
Primary #65a3d6
Secondary #004787
Dark Accent #1c1c1c
Mid Accent #777777
Light Accent #bcbcbc
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Light', sans-serif;
}
p {
  line-height: 1.5;
  font-size: 1.25em;
  word-break: break-word;
}
@media (max-width: 480px) {
  p {
    font-size: 1.125em;
  }
}

a, a:visited {
  color: #eee;
  fill: #eee;
  background-image: linear-gradient(180deg,transparent 65%,rgba(101, 163, 214, 0.5) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(101, 163, 214, 0.5);
  transition: all 0.3s ease-in-out;
}
a:hover, a:active {
  background-image: linear-gradient(180deg,transparent 65%,rgba(101, 163, 214, 0.5) 0);
  background-size: 100% 100%;
}

.footer a, .footer a:visited {
  color: #3d3d3d;
  fill: #3d3d3d;
  border-bottom: 1px solid rgba(101, 163, 214, 0.5);

}
/* .footer a {
  color: #aaa;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(150deg,transparent 60%,rgba(188, 188, 188, 0.5) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
}
.footer a:hover {
  fill: #65a3d6;
  background-size: 100% 100%;
}
.footer a:active {
  color: #65a3d6;
  cursor: default;
  background-image: linear-gradient(150deg,transparent 60%,rgba(188, 188, 188, 0.5) 0);
} */


@font-face {
  font-family: 'Lato-Medium';
  src: local('Lato-Medium'), url(./fonts/Lato-Medium.ttf) format('opentype');
}
@font-face {
  font-family: 'Lato-Light';
  src: local('Lato-Light'), url(./fonts/Lato-Light.ttf) format('opentype');
}
